# Parking Lot Simulator - Git Ignore
# 
# Excludes unnecessary files from version control.
# 
# @author Sarthak Kulkarni (23101B0019)
# @author Pulkit Saini (23101B0021)
# @author Dhruv Tikhande (23101B00005)
# @version 0.1.0

node_modules/
dist/
.env
.idx/